
<%# la "navbar" en haut %>
  <div class="first-row d-flex justify-content-end align-items-start">
    <div class="first-row-links">
      <a href="https://www.google.com/intl/fr/gmail/about/">Gmail</a>
      <a href="https://www.google.fr/imghp?hl=fr&tab=ri&ogbl">Images</a>
    </div>
    <div class="menu-applications">
        <a href=""><i class="fa-solid fa-list-ul"></i></a>
    </div>
  </div>

<div class="container">

  <%# titre principal %>
  <h1 class="homepage-title">Google</h1>

  <%# search bar %>

    <form action="" class="search-bar">
      <input type="search" placeholder="Effectuez une recherche sur Google ou saisissez une URL" size="100%">
      <i class="fa-solid fa-magnifying-glass search-bar-icon"></i>
      <i class="fa-solid fa-microphone search-bar-icon"></i>
    </form>

  <%# searchbar google %>
  <%# <script async src="https://cse.google.com/cse.js?cx=b0465ff9c975e4a7d">
  </script>
  <div class="gcse-searchbox"></div>
  <div class="gcse-searchresults"></div> %>


  <%# les icônes %>


  <div data-controller="popup">

    <div class="row justify-content-center all-icons">

    <div class="col-sm-3 pt-3 link-icon" >
      <a href="https://outlook.live.com/owa/">
        <%= image_tag "icons/outlook_icon.ico" , class: 'icon', size: "45x45" %>
        <div class="title-icon">
          <span>Outlook</span>
        </div>
      </a>
    </div>
    <div class="col-sm-3 pt-3 link-icon">
      <a href="https://www.netflix.com/fr/login?nextpage=https%3A%2F%2Fwww.netflix.com%2Fbrowse">
        <%= image_tag "icons/netflix_logo_icon.ico" , class: 'icon', size: "45x45" %>
        <div class="title-icon">
          <span>Netflix</span>
        </div>
      </a>
    </div>

    <div class="col-sm-3 pt-3 link-icon">
      <a href="https://www.linkedin.com/in/marion-robert-468558171/">
        <%= image_tag "icons/linkedin_icon.ico" , class: 'icon', size: "45x45" %>
        <div class="title-icon">
          <span>LinkedIn</span>
        </div>
      </a>
    </div>

    <div class="col-sm-3 pt-3 link-icon">
      <a href="https://accounts.google.com/v3/signin/identifier?dsh=S1527185073%3A1672738470735496&continue=https%3A%2F%2Fdrive.google.com%2Fdrive%2Fmy-drive&followup=https%3A%2F%2Fdrive.google.com%2Fdrive%2Fmy-drive&osid=1&passive=1209600&service=wise&flowName=GlifWebSignIn&flowEntry=ServiceLogin&ifkv=AeAAQh50qKNHx5rrr9fXSQQXeHUXTl3z8UtpDYtGq28fXhrwnqmm18eAs-DvxlJ89l31zknVZa3blg">
        <%= image_tag "icons/drive_icon.ico" , class: 'icon', size: "45x45" %>
        <div class="title-icon">
          <span>Mon drive</span>
        </div>
      </a>
    </div>

    <div class="col-sm-3 pt-3 link-icon">
      <a href="https://www.facebook.com/">
        <%= image_tag "icons/facebook_icon.ico" , class: 'icon', size: "45x45" %>
        <div class="title-icon">
          <span>Facebook</span>
        </div>
      </a>
    </div>

    <div class="col-sm-3 pt-3 link-icon" >
      <a href="https://assure.ameli.fr/PortailAS/appmanager/PortailAS/assure?_nfpb=true&_pageLabel=as_deconnexion_page" >
        <%= image_tag "icons/hospital_icon.ico" , class: 'icon', size: "45x45" %>
        <div class="title-icon">
          <span>Compte ameli</span>
        </div>
      </a>
    </div>

    <div class="col-sm-3 pt-3 link-icon">
      <a href="" data-action="click->popup#display">
        <%= image_tag "icons/plus_icon.png" , class: 'icon', size: "45x45" %>
        <div class="title-icon">
          <span>Ajouter un racourci</span>
        </div>
      </a>
    </div>

    <%# qui ouvre une pop-up %>
    <form action="" class="pop-up-raccourci unshow" id="popup-raccourci" data-popup-target="formRaccourci">
      <h6>Ajouter un raccourci</h6>
      <label for="">Nom</label>
      <input type="text">
      <label for="">URL</label>
      <input type="text">
      <button class="annuler" data-action="click->popup#cancel">Annuler</button>
      <button class="ok">OK</button>
    </form>

    </div>

  </div>
</div>
